body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.songList {
    overflow-y: auto;
    flex: 1;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: calc(100vh - 60vh);
}

.songItemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songItem {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3) !important;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.songItem:hover {
    background: rgba(0, 0, 0, 0.7) !important;
    cursor: pointer;
}

.songItem img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.songName {
    flex: 1;
    color: #fff;
    font-size: large;
}

.songlistplay {
    display: flex;
    align-items: center;
}

.songItemPlay {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.songItemPlay:hover {
    color: #f50;
}

.display-track {
    width: 100%;
    background-color: wheat;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.audio-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.audio-image {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.title {
    font-size: 1.2rem;
    margin: 0;
    color: #f50;
}

.author {
    font-size: 1rem;
    margin: 0;
    color: #ccc;
}

.player-gif {
    width: 40px;
    margin-left: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.controls button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.controls button:hover {
    color: #f50;
}

.volume {
    display: flex;
    align-items: center;
}

.volume input {
    margin-left: 10px;
    cursor: pointer;
}

.progressbar {
    display: flex;
    align-items: center;
}

.progress input {
    flex: 1;
    height: 4px;
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

.progress input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: #f50;
    border-radius: 50%;
    cursor: pointer;
}

.time {
    width: 50px;
    text-align: center;
    color: #fff;
}
