body {
    background-color: #181818;
    /* Dark background */
    color: #ffffff;
    /* White text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    background-color: #333333;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.Main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #222222;
    /* Slight contrast for cards */
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 250px;
}

.card:hover {
    background-color: #333333;
    /* Subtle change on hover */
}

.card-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.caption {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #181818;
    /* Dark player background */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.track-info {
    display: flex;
    align-items: center;
}

.track-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-right: 10px;
}

.track-details {
    display: flex;
    flex-direction: column;
}

.track-name {
    font-size: 14px;
    font-weight: bold;
}

.track-artist {
    font-size: 12px;
    color: #bbb;
}

.controls {
    display: flex;
    align-items: center;
}

.control-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
}